body {
    background-position: absolute;
    background-image: url(/assets/img/background.png);
    background-repeat: no-repeat;
    background-size: 1440px 797px;
    background-position-x: 0px;
    background-position-y: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF000;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

#homeLogo {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.637));
    transition: transform 150ms linear;

}

#homeLogo:hover {
    transform: scale(1.1);
}

nav {
    text-align: right;
}

#menunav, .button {
    display: inline-flex;
    align-items: center;
    color: #000;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;  
    margin-right: 30px;
    transition: transform 150ms linear;
}

a#menunav:before {
    content: "";
    background-color: #390040;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a#menunav:hover {
    box-shadow: 5px 4px 0px black;
    transform:scale(1.2)
}

#buttonnav{
    display: inline-block;
}

.button {
    background-color: #B298DC;
    box-shadow: 5px 4px 0px black;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 150ms linear;
}

.button:hover {
    transform: scale(1.1);
}

.box {
    position: absolute;
    background-color: #171717;
    height: 184px;
    width: 627px;
    left: 91px;
    top: 196px;
    filter: drop-shadow(10px 10px 0px #000000);

}



/*.myname {
    position: absolute;
    color: #B298DC;
    width: 440px;
    height: 40px;
    left: 181px;
    top: 238px;
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    filter: drop-shadow(4px 4px 0px #000);
}*/

.jobname {
    position: absolute;
    color: white;
    width: 540px;
    height: 30px;
    left: 131px;
    top: 306px;
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    filter: drop-shadow(4px 4px 0px #000);
}

#downloadcv {
    position: absolute;
    top: 418px;
    left: 181px;
}

#contatos {
    position: absolute;
    top: 418px;
    left: 463px;
}