#wrapper-card {
    display: flex;
    justify-content: center;
}

.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff000;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;
    transition: transform 100ms linear;
    margin: 20px;
}

.card-project.-wisteria {
    background-color: #b298dc;
}

.card-project.-bgimg {
    background-image: url(../../img/bgimg_x280.png);
}

.card-project:hover {
    transform: scale(1.1);
}